<div class="d-flex align-items-center justify-content-between mb-4">
  <h1><%= I18n.t("view.movies.all_movies") %></h1>

  <div class="d-flex flex-column gap-3">
    <% if current_user && current_user&.admin? %>
      <%= link_to I18n.t("view.movies.add_a_new_movie"), new_api_v1_movie_path, class: "btn btn-primary" %>
    <% end %>

     <%= link_to I18n.t("view.movies.export_movies_as_csv"), api_v1_movies_path(format: :csv), class: "btn btn-primary" %>
  </div>
</div>

<%= form_tag api_v1_movies_path, method: :get, class: "mb-3" do %>
  <div class="d-flex align-items-center gap-1 position-relative">
    <%= text_field_tag :query, params[:query], placeholder: "Search movie...", class: "form-control p-2 search-field" %>
    <%= button_tag(type: "button", class: "btn p-0 m-0 position-absolute search-button btn-primary p-2", onclick: 'this.form.submit();') do %>
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    <% end %>
  </div>
<% end %>

<%= form_tag api_v1_movies_path, method: :get do %>
  <div class="d-flex align-items-center gap-3 mb-5">
    <i class="fa-solid fa-sort sort-icon" style="color: #333333;"></i>

    <%= select_tag :order, options_for_select({ "Order movies by release date": { value: "", disabled: true, selected: true }, "Ascending": :asc, "Descending": :desc }, params[:order]), include_blank: false, onchange: 'this.form.submit();', class: "form-select w-25 p-2" %>
  </div>
<% end %>

<%= render partial: "movie", locals: { movies: @movies } %>
